* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary_soft_blue: hsl(215, 51%, 70%);
  --primary_cyan: hsl(178, 100%, 50%);
  --primary_bg_cyan: hsla(178, 100%, 50%, 0.5);
  --neutral_mainBg_dark_blue: hsl(217, 54%, 11%);
  --neutral_cardBg_dark_blue: hsl(216, 50%, 16%);
  --neutral_line_dark_blue: hsl(215, 32%, 27%);
  --neutral_white: hsl(0, 0%, 100%);

  /* Font family */
  --outfit_semiBold: "Outfit, SemiBold";
  --outfit_regular: "Outfit, Regular";
  --outfit_light: "Outfit, Light";

  /* Font size paragraph */
  --para_font_size: 1.125rem;
  --title_font_size: 1.75rem;

  /* Border radius */
  --border_radius_card: 1rem;
  --border_radius_image: 0.5rem;
}

body {
  font-size: 1rem;
  background-color: var(--neutral_mainBg_dark_blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.card {
  font-family: var(--outfit_regular);
  width: min(90%, 22.5rem);
  background-color: var(--neutral_cardBg_dark_blue);
  border-radius: var(--border_radius_card);
  padding: 1.5rem;
}

.card-images {
  cursor: pointer;
  position: relative;
}

.main-image {
  border-radius: var(--border_radius_image);
}

.overlay-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%, 0);
  border-radius: var(--border_radius_image);
  opacity: 0;
  transition: background-color, opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay-image img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%, 0);
}

.overlay-image:hover {
  background-color: var(--primary_bg_cyan);
  opacity: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0 0;
  color: var(--primary_soft_blue);
  font-family: var(--outfit_regular);
}

.card-title {
  font-family: var(--outfit_semiBold);
  font-size: var(--title_font_size);
  color: var(--neutral_white);
  cursor: pointer;
}

.card-title:hover {
  color: var(--primary_cyan);
}

.card-text {
  font-family: var(--outfit_light);
  font-size: var(--para_font_size);
  line-height: 1.5;
}

.card-offering {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing,
.countdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--outfit_semiBold);
  font-size: var(--para_font_size);
}

.pricing {
  color: var(--primary_cyan);
}

.countdown img {
  width: 1.4rem;
}

.border {
  margin-top: 0.5rem;
  width: 100%;
  border: 0.001rem solid var(--neutral_line_dark_blue);
}

.card-creator {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creator-image {
  width: 2.5rem;
  border: 0.1rem solid var(--neutral_white);
  border-radius: 50%;
}

.creator-name {
  font-size: var(--para_font_size);
}

.creator-name span {
  color: var(--neutral_white);
  cursor: pointer;
}

.creator-name span:hover {
  color: var(--primary_cyan);
}